<h2>all kegs on tap</h2>
<div *ngFor="let keg of kegs">
  <h3>{{keg.name}}</h3>
  <div class="meta">
    <span>Brand:</span> {{keg.brand}}
  </div>
  <div class="meta">
    <span>Price:</span> {{keg.price}}
  </div>
  <div class="meta">
    <span>APV:</span> {{keg.apv}}
  </div>
  <div class="meta">
    <span>Pints:</span> {{keg.pints}}
  </div>
  <button type="button" name="button" (click)="sellPint(keg)">Sell Pint</button>
  <button class="refill" *ngIf="keg.pints < 11" (click)="refillKeg(keg)" type="button" name="button">refill</button>
</div>

<div class="make-a-keg">
  <h3>MAKE A KEG</h3>
  <input [(ngModel)]="name" placeholder="name" type="text"><br>
  <input [(ngModel)]="brand" placeholder="brand" type="text"><br>
  <input [(ngModel)]="price" placeholder="price" type="number"><br>
  <input [(ngModel)]="apv" placeholder="APV" type="number"><br>
  <button (click)="newKeg(name, brand, price, apv)" type="button" name="button">Tap a Keg</button>

</div>
